<div class="container row">
<div class="comments">
 
  {{#each this}}
   <div class="card post">
    <div class="card-body post-body">
      <h5 class="card-title post-title">{{user.username}} on {{format_date created_at}}</h5>
  <section class="card-text post-text">
    <p class="text">
      {{comment_text}}
    </p>
  </section>
    </div>
  </div>
  {{/each}}
  
</div>
</div>