<div class="row mb-1">
    <a href="/dashboard" class=""> &larr; Dashboard</a>
    <h1>Add Post</h1>
    <form class="new-post-form">
        <div class="mb-3">
           <label for="post-title" class="form-label">Post Title:</label>
           <input type="text" name="post-title" id="post-title" class="form-control input"/>
         </div>
         <div class="mb-3">
           <label for="post-content" class="form-label">Content</label>
           <input class="textarea form-control" name="post-content" id="post-content" type="text"/>
         </div>
         <div class="mb-3">
           <button type="submit" class="btn is-success">Create Post</button>
         </div>
    </form>
</div>

<script src="js/add-post.js"></script>