<h2 class="title pb-4">Log In:</h2><hr>
    <form class="login-form">
     <div class="mb-3">
        <label for="email-login" class="form-label">Email:</label>
        <input type="text" id="email-login" class="form-control"/>
      </div>
      <div class="mb-3">
        <label for="password-login" class="form-label">Password:</label>
        <input type="password" id="password-login" class="form-control"/>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary register">Log In</button>
        <a id="signup" href="/signup"><button type="button" class="btn is-danger">Sign Up</button></a>
      </div>
    </form>


<script src="/javascript/login.js"></script>