<h2 class="title pb-4">Create Account:</h2><hr>
    <form class="signup-form">
      <div class="mb-3">
        <label for="username-signup" class="form-label">Username:</label>
        <input type="text" id="username-signup" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="email-signup" class="form-label">Email:</label>
        <input type="text" id="email-signup" class="form-control"/>
      </div>
      <div class="mb-3">
        <label for="password-signup" class="form-label">Password:</label>
        <input type="password" id="password-signup" class="form-control"/>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary register">Register</button>
      </div>
    </form>

<script src="js/signup.js"></script>