header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.navbar {
  text-align: right;
}

.navbar a{
  text-decoration: none;
  margin: 0 5px
}

.navbar a:visited{
  text-decoration: none;
  color: inherit;
}

.navbar a:hover{
  text-decoration: none;
  color: inherit;
}


.logout{
  background-color: lightskyblue;
  border: 1px lightskyblue solid;
  color: white;
  font-weight: bold;
}

.login{
  display: inline-block;
  background-color: rebeccapurple;
  border: 1px rebeccapurple solid;
  color: white;
  padding: 2px 5px;
  font-weight: bold;
}

.post{
  margin: 20px 0;
  border: 1px lightgrey solid;
  text-align: right;
}

.post-title{
  background-color: lightgrey;
  padding: 15px;
  margin-top: 0;
  text-align: left;
}

.post-text{
  padding: 10px !important;
  text-align: left !important;
}

.post-button{
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.post-date{
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

.post-username{
  font-weight: bold;
}

.footer-margin{
  margin-top: 50px;
}

.signup{
  margin-top: 20px;
}

.signup-form div{
  margin-bottom: 20px;
}

.login-form div{
  margin-bottom: 20px;
}

.edit-post-form{
  margin-top: 20px;
}

.edit-post-form div{
  margin-bottom: 20px;
}

.register{
  display: inline-block;
  margin-top: 20px;
}

.comment-button{
  margin-top: 20px;
}
