    <div class="row mb-1">
            <div class="card post">
                <div class="card-body post-body">
            <h4 class="card-title post-title"><a href="/post/{{id}}">{{title}} </a></h4>
            <p class="card-text post-text"></p>
            {{post_content}}
            </p>
            <a href="#!" class="btn btn-primary post-button">View Post</a>
                  <p class="post-date">Posted On: 06/04/2020 by <span class="post-username">leonhsu95</span></p>
                </div>
            </div>
    </div>